{% extends "base.html" %}

{% block titulo %} Detalles de la pelicula " pelicula.titulo "  {% endblock %}
{% load static %}

{% block contenido %}
<h2>Datos de la pelicula</h2>

<div id="pelicula">
{% if pelicula %}

    <h3 id="nombre">{{ pelicula.titulo }}</h3>

    <img id="imagenPelicula" src="{% static pelicula.imagen %}" alt="{{ pelicula.titulo }}" width="300" height="200">
      
    <p><strong>Año de estreno:</strong> {{ pelicula.anyo}}</p>
 
    <p><strong>Director:</strong> {{ pelicula.director}}</p>
   
    <p><strong>Duracion de la pelicula:</strong> {{ pelicula.duracion}}</p>
   
    <p><strong>Genero:</strong> {{ pelicula.genero}} </p>

    <div id="listaPeliculas">
    <h3>Personajes que aparecen en la pelicula:</h3>
        
        <ul>
        {% if personajes %}
            {% for p in personajes %}
                <li>
                    <a href="{% url 'personaje' p.id %}">{{p.nombre}}</a>
                </li>
            {% endfor %}
        {% else %}
            <p>La pelicula no tiene personajes asociados.</p>
        {% endif %}
        </ul>
    </div>
</div>
{% else %}
    <p>No existe esta pelicula.</p>
{% endif %}

{% endblock %}