{% extends "base.html" %}
{% load static %}

{% block titulo %}El Señor de los Anillos {% endblock %}

{% block contenido %}
<h2>Bienvenido a la fansite del Señor de los Anillos.</h2>
<p id="descripcion"><strong>Aquí encontraras información sobre las películas, los personajes y sus razas.</strong></p>
{% if lista_personajes %}
    {% with contador=0 %}
        <h3>Aquí tienes algunos de los personajes más importantes de la trilogia, cada uno de una raza única:</h3>
        <div id="listaPersonajes">
        <ul>
        {% for p in lista_personajes %}
            {% if forloop.counter0|divisibleby:3 %}
                <li>
                    <a href="{% url 'personaje' p.id %}">{{ p.nombre }}</a>
                    <img id="imagenPersonaje" src="{% static p.imagen %}" alt="{{ p.nombre }}" width="300" height="200">
                </li>
            {% endif %}
            {% with contador=contador|add:1 %}
        {% endwith %}
        {% endfor %}
        </ul>
        </div>
    {% endwith %}
{% else %}
    <p>No hay departamentos creados.</p>
{% endif %}
{% endblock %}
