{% extends "base.html" %}
{% load static %}

{% block titulo %} Detalles de la raza {% endblock %}

{% block contenido %}
<h2>Datos de la raza</h2>

<div id="personaje">
{% if raza %}
    <h3 id="nombre">{{ raza.nombre }}</h3>
    <img id="imagenRaza" src="{% static raza.imagen %}" alt="{{ raza.nombre }}" width="300" height="200">
    <h3>Lista de personajes</h3>
    {% if personajes %}
    <div id="listaRaza">
        <ol>
            {% for p in personajes %}
                <li><a href="/appLOTR/personajes/{{ p.id }}">{{ p.nombre }}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
        <p>No hay personajes asociados a esta raza.</p>
    {% endif %}
    <br>
    <div id="caracteristicas">
        <p><strong>Tamaño:</strong> {{raza.tamnyo}}</p><br>
        <p><strong>Caracteristica:</strong> {{raza.caracteristica}}</p><br>
        <p><strong>Actitud:</strong> {{raza.actitud}}</p><br>
        <p><strong>Longevidad:</strong> {{raza.longevidad}}</p><br>
    </div>
</div>
{% else %}
    <p>No existe esta raza.</p>        
{% endif %}


{% endblock %}