{% extends "base.html" %}

{% block titulo %} Detalles del personaje {% endblock %}
{% load static %}

{% block contenido %}

<div class = "intro">
  <h2>Login</h2>
  <h4>¿Para que hay que inicia sesion?</h4>
  <p class="descripcion">Crea una cuenta para poder añadir y modificar los personajes de El Señor de los Anillos</p>
</div>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario">
            <div id="usuarioHelp" class="form-text"></div>
        </div>
        
        <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena">
        </div>
      
        <br>
        <input type="submit" value="Login" class="botonesFormularios">
    </form>
    <p id="linkRegistro">Si no tienes cuenta registrese <a href="{% url 'registrar_usuario' %}">aqui</a></p>

<br><br>

{% endblock %}