{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head id="header">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <title>{% block titulo %}El Señor de los Anillos{% endblock %}</title>
    </head>
    <body>
        <div id = "content">
            <h1>El Señor de los Anillos</h1>
            <div id = "navegador">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'peliculas' %}">Películas</a>
                <a href="{% url 'personajes' %}">Personajes</a>
                <a href="{% url 'razas' %}">Razas</a>
            </div>
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>