{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block titulo %}El Señor de los Anillos {% endblock %}

{% block contenido %}
<div id="formulariosPersonaje">
    <h2>{% trans "Añadir Personaje" %}</h2>
    {% if enviado %}
        <p id="personajeAnyadido">{% trans "El personaje se ha añadido correctamente" %}</p>
    {% else %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{form.as_p}}
            {% if user.is_authenticated %}
                <input type="submit" value='{% trans "Añadir Personaje" %}' class="botonesFormularios">
            {% else %}
                <input type="submit" value='{% trans "Añadir Personaje" %}' class="botonesFormulariosDesabilitado" disabled>
            {% endif %}
        </form>
        {% if user.is_authenticated %}
        {% else %}
            <p id="avisoModificar">{% trans "Inicia sesion para añadir personajes" %}</p>
        {% endif %}
</div>

{% endif %}

{% endblock %}
