{% extends "base.html" %}
{% load static %}
{% load static i18n %}

{% block titulo %}{% trans "El Señor de los Anillos" %} {% endblock %}

{% block contenido %}
<div class = "intro">
    <h2>{% trans "Bienvenido a la fansite del Señor de los Anillos" %}</h2>
    <h4>{% trans "¿Qué puedo encontrar en esta página web?" %}</h4>
    <p class="descripcion">{% trans "Aquí encontrarás toda la información sobre el mundo cinematografico, de la mejor saga del mundo. Podras acceder a la mejor información sobre las peliculas, los personajes de estas e incluso sus razas." %}</p>
    <h4>{% trans "¿Quienes han creado esta pagina?" %}</h4>
    <p class="descripcion">{% trans "Los creadores somos unos estudiantes a los que nos encanta LOTR y que queremos ofrecer la mejor pagina web para todos los fans del mundo" %}</p>
</div>
{% if lista_personajes %}
    <div id="listado">
        <h4>{% trans "Aquí tienes algunos de los personajes más relevantes" %}</h4>
        <ul>
            {% for p in lista_personajes %}
                <li>
                    <a href="{% url 'personaje' p.id %}">{{ p.nombre }}</a><br><br>
                    <img class="imagenPersonaje" src="{% static p.imagen %}" alt="{{ p.nombre }}">
                    
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No hay departamentos creados.</p>
{% endif %}
{% endblock %}
