{% extends "base.html" %}

{% block titulo %}Peliculas{% endblock %}

{% block contenido %}
<div id = "desPeliculas">
	<h2>Películas</h2>
	<p> En este sección encontraras las 3 peliculas del Señor de los Anillos.</p>
	<p>Clicando en el nombre de la que mas te guste encontraras mas información de tu pelicula favorita.</p>
</div>
{% if lista_peliculas %}
	<div id="listado">
	<ul>
	{% for p in lista_peliculas %}
		<li>
		    <a href="{% url 'pelicula' p.id %}">{{ p.titulo}}</a>
		</li>

	{% endfor %}
	</ul>
	</div>
{% else %}
<p>Error al cargar las películas</p>
{% endif %}
{% endblock %}