{% extends "base.html" %}
{% load static i18n %}

{% block titulo %} Detalles de la pelicula {% endblock %}
{% load static %}

{% block contenido %}
<h2>{% trans "Datos de la pelicula" %}</h2>

<div id="pelicula">
{% if pelicula %}

    <h3 id="nombre">{{ pelicula.titulo }}</h3>

    <img id="imagenPelicula" src="{% static pelicula.imagen %}" alt="{{ pelicula.titulo }}">
    <div id="datosPelicula">
        <p><strong>{% trans "Año de estreno" %}:</strong> {{ pelicula.anyo}}</p>
 
        <p><strong>{% trans "Director" %}:</strong> {{ pelicula.director}}</p>
   
        <p><strong>{% trans "Duración de la película" %}:</strong> {{ pelicula.duracion}} min</p>
   
        <p><strong>{% trans "Género" %}:</strong> {{ pelicula.genero}} </p>
    </div>

    <div id="listadoPeliculas">
    <h3>{% trans "Personajes que aparecen en la película" %}:</h3>
        
        <ul>
        {% if personajes %}
            {% for p in personajes %}
                <li>
                    <a href="{% url 'personaje' p.id %}">{{p.nombre}}</a>
                </li>
            {% endfor %}
        {% else %}
            <p>{% trans "La película no tiene personajes asociados." %}</p>
        {% endif %}
        </ul>
    </div>
</div>
{% else %}
    <p>{% trans "No existe esta película." %}</p>
{% endif %}

{% endblock %}