{% extends "base.html" %}
{% block titulo %} Personajes {% endblock %}

{% block contenido %}
<div id = "desPersonajes">
    <h2>Personajes</h2>
    <p> En este sección encontraras todos los personajes del Señor de los Anillos.</p>
    <p>Clicando en el nombre de tu personaje favorito encontraras mas información sobre el.</p>
</div>
{% if personajes %}
<div id="listado">
    <ul>
        {% for p in personajes %}
            <li>
                <a href="{%url 'personaje' p.id %}">{{p.nombre}}</a> 
            </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No hay personajes creados.</p>
{% endif %}
{% endblock%}