{% extends "base.html" %}

{% block titulo %} Razas {% endblock %}

{% block contenido %}
<div id = "desRazas">
	<h2>Razas</h2>
	<p> En este sección encontraras todas las razas del Señor de los Anillos.</p>
	<p>Clicando en el nombre de tu raza favorita encontraras mas información sobre ella.</p>
</div>
{% if razas %}
<div id="listado">
	<h2>Lista de razas</h2>
	<ul>
	{% for r in razas %}
		<li>
			<a href="{%url 'raza' r.id %}">{{ r.nombre}}</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% else %}
<p>No hay razas creadas.</p>
{% endif %}
{% endblock %}