{% extends "base.html" %}
{% load static %}
{% load static i18n %}

{% block titulo %} {% trans "Detalles de la raza" %} {% endblock %}

{% block contenido %}
<h2>Datos de la raza</h2>

<div id="personaje">
{% if raza %}
    <h2>{% trans "Datos de la raza" %}</h2>
    <img id="imagenRaza" src="{% static raza.imagen %}" alt="{{ raza.nombre }}">
    <h3 id="nombre">{{ raza.nombre }}</h3>

    <div id="caracteristicasRaza">
        <p><strong>{% trans "Tamaño:" %}</strong> {{raza.tamnyo}}</p><br>
        <p><strong>{% trans "Característica:" %}</strong> {{raza.caracteristica}}</p><br>
        <p><strong>{% trans "Actitud:" %}</strong> {{raza.actitud}}</p><br>
        <p><strong>{% trans "Longevidad:" %}</strong> {{raza.longevidad}}</p><br>
    </div>

    {% if personajes %}
    <div id="listaRaza">
        <h3>{% trans "Lista de personajes" %}</h3>
        <ol>
            {% for p in personajes %}
                <li><a href="{% url 'personaje' p.id %}">{{ p.nombre }}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
        <p>{% trans "No hay personajes asociados a esta raza." %}</p>
    {% endif %}
    <br>

</div>
{% else %}
    <p>{% trans "No existe esta raza." %}</p>        
{% endif %}

{% endblock %}