{% extends "base.html" %}
{% load static i18n %}

{% block titulo %} {% trans "Razas" %} {% endblock %}

{% block contenido %}
<div id = "desRazas">
	<h2>{% trans "Razas" %}</h2>
	<p>{% trans "En este sección encontrarás todas las razas del Señor de los Anillos." %}</p>
	<p>{% trans "Haciendo click en el nombre de tu raza favorita encontraras mas información sobre ella." %}</p>
</div>
{% if razas %}
<div id="listado">
	<ul>
	{% for r in razas %}
		<li>
			<a href="{%url 'raza' r.id %}">{{ r.nombre}}</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% else %}
<p>{% trans "No hay razas creadas." %}</p>
{% endif %}
{% endblock %}