{% extends "base.html" %}

{% block titulo %} Detalles de la raza {% endblock %}

{% block contenido %}
<h2>Datos de la raza</h2>

{% if raza %}
    <h3>{{ raza.nombre }}</h3>
    <h3>Lista de personajes</h3>
    {% if personajes %}
        <ol>
            {% for p in personajes %}
                <li><a href="{% url 'personaje' p.id %}">{{ p.nombre }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No hay personajes asociados a esta raza.</p>
    {% endif %}

    <p><strong>Tamaño: </strong>{{raza.tamnyo}}</p>
    <p><strong>Caracteristica: </strong>{{raza.caracteristica}}</p>
    <p><strong>Actitud: </strong>{{raza.actitud}}</p>
    <p><strong>Longevidad: </strong>{{raza.longevidad}}</p>
{% else %}
    <p>No existe esta raza.</p>        
{% endif %}

{% endblock %}