@font-face {
    font-family: 'lotr';
    src: url('../fonts/lotr.ttf') format('truetype');
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../img/mapa.jpeg');
    font-family: 'Tahoma', sans-serif;
    background-repeat: repeat;
    background-size: contain;
    margin: 0;
}

footer {
    background-color: #7f5d3ee2;
    color: rgb(201, 197, 186);
    text-align: center;
    margin: 0;
    padding: 5px;
    font-family: 'lotr';
    position: relative;
}

#cabecero h1 {
    color: rgb(201, 197, 186);
    text-align: center;
    padding-top:  30px;
    font-family: 'lotr';
    font-size: 50px;
    margin: 0px;
    padding-bottom: 30px;
}

#gandalf {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-bottom: -5px;
    right: 0px;
    cursor: pointer;
}

/* h1 {
    background-color: #36220f;
    color: rgb(201, 197, 186);
    text-align: center;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #3e2712da;
    font-family: 'lotr';
    font-size: 50px;
} */

h2{
    text-decoration: none;
    color: rgb(201, 197, 186);
    font-family: 'lotr';
    font-size: 30px;
    text-align: center;
}

h2, h3, p{
    text-align: center;  
}

h4 {
    text-align: left;
    padding-left: 40px;
    font-family: "Lucida Calligraphy", "Segoe Script", sans-serif;
    font-size: 18px;
    color: rgb(201, 197, 186);
    font-weight: bold;
}

#navegador a {
    color: rgb(201, 197, 186);
    font-weight: bold;
    font-size: 20px;
    font-family: 'lotr';
    padding: 10px;
    text-decoration: none;
}

#navegador {
    text-align: center;
    background-color: #3e2712da;
    padding: 10px;
}

#anillo-musical{
    padding-top: 20px;
    padding-left: 20px;
    top: 1px;
    left: 1px;
    position: fixed;
    width: 70px;
    cursor: pointer;
}

.descripcion{
    color: rgb(201, 197, 186);
    font-family: "Lucida Calligraphy", "Segoe Script", sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
}

#listado, #personaje, #pelicula, #desPeliculas, #desPersonajes, #desRazas {
    text-align: center;
    font-family: "Lucida Calligraphy", "Segoe Script", sans-serif;
    margin: 15px auto;
    padding: 20px;
    background-color: #26401be6;
    border-radius: 10px;
    width: max-content;
    /* max-width: 25%; */
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.6);
}

#listado h4 {
    text-align: center;
}

#listado a {
    text-decoration: none;
    color: rgb(201, 197, 186);
    font-weight: bold;
    font-size: 20px;
}

#listado li {
    list-style: none;
    text-align: center;
    font-size: 14px;
}

#listado_p {
    text-align: center;
    font-family: "Lucida Calligraphy", "Segoe Script", sans-serif;
    margin: 15px auto;
    padding: 30px;
    background-color: #26401be6;
    border-radius: 10px;
    width: max-content;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.6);
}

#listado_p li {
    list-style: decimal;
    text-align: left;
    color: rgb(201, 197, 186);
    font-family: 'lotr';
    font-size: 30px;
}

#listado_p a {
    text-decoration: none;
    color: rgb(201, 197, 186);
    font-weight: bold;
    font-size: 20px;
    font-family: 'lotr';
}

#listado_p h3 {
    color:rgb(201, 197, 186);
    font-family: 'lotr';
    font-size: 30px;
}

#desPeliculas, #desPersonajes, #desRazas p {
    text-align: center;
    font-size: 16px;
    color: rgb(201, 197, 186);
    font-weight: bold;
}

#nombre{
    font-size: 25px;
}

#pelicula h2 {
    background-color: #746345e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.15);
    padding: 5px;
}

#pelicula h3 {
    font-family: 'lotr';
}

#datosPelicula p{
    text-align: center;
    font-size: 18px;
    color: rgb(201, 197, 186);
}

#nombre, #listadoPeliculas, #caracteristicasRaza, #personajes {
    background-color: #c9b2ad;
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.15);
}


#listaRazas, #listaRaza, #topPersonajes, #personajes, #listadoPeliculas {
	text-align: center;
}

#listaRaza {
    background-color: #746345e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.15);
    padding: 3px;
}

#listaRaza h3 {
    color: rgb(201, 197, 186);
    font-family: 'lotr';
    text-align: center;
    font-size: 22px;
    margin-bottom: 0;
}

#listaRaza li {
    list-style: circle;
    text-align: left;
    margin-left: -35px;
    font-size: 19px;
    padding: 2px;
}

#listaRaza a {
    
    color: rgb(201, 197, 186);
    text-decoration: none;
}

#personaje h2 {
    background-color: #746345e6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.15);
    padding: 10px;
}

#personaje h3 {
    font-family: 'lotr';
}

#caracteristicasPelicula p {
    color: rgb(201, 197, 186);
    font-size: 19px;
}

#caracteristicasPelicula a {
    text-decoration: none;
    color: rgb(201, 197, 186);
}

#personajes li{
    list-style: decimal;
    color: #4a371ce6;
    font-size: 18px;
    font-weight: bold;
}

#personajes a {
    text-decoration: none;
    color: rgb(201, 197, 186);
}

#personajes h3 {
    color: rgb(201, 197, 186);
    font-family: 'lotr';
}

ul, ol{
	display: inline-block; 
	text-align: left; 
}

.imagenPersonaje, #caracteristicasRaza, #caracteristicasPelicula{
    margin-bottom: 20px;
}

.imagenPersonaje, #imagenPersonaje, #imagenRaza {
    width: 300px;
    height: 200px;
}

.intro {
    background-color: #26401be6;
    border: 0px ;
    padding: 10px; 
    border-radius: 5px;
    width: 900px;
    margin: 20px auto; 
}

img{
    border-radius: 10px;
    max-width: 100%;
}

#imagenPelicula {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 300px;
}

#imagen-oculta {
    display: none;
    width: 200px;
    top: 50px;
    right: 230px;
    position: absolute;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #c9b2ad;
    border-radius: 10px;
    text-align: center;
    
}

label {
    display: block;
    margin-bottom: 1px;
    font-family: 'lotr';
    font-size: 20px;
}

input, select, textarea {
    width: 75%;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.botonesFormularios {
    max-width: 400px;
    background-color: #26401be6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family:'lotr';
    margin: 0 auto;
}

#linkRegistro{
    font-family:'lotr';
    border-radius: 5px;
    background-color: #c9b2ad;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.textoRegistro{
    font-family: 'Tahoma', sans-serif;
}
#mensajes{
    font-family: 'Tahoma', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #777575;
    border-radius: 10px;
    text-align: center;
}

#mensajesRegistro{
    font-family: 'Tahoma', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #777575;
    border-radius: 10px;
    text-align: center;
}
#botonesFormulariosDesabilitado{
    max-width: 400px;
    background-color: #777575;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family:'lotr';
    margin: 0 auto;
}



