body{
    font-family: 'Tahoma', sans-serif;
    background-color: #FCF6F4;
    margin: 0;
}

h1 {
    background-color: #F1E9E7;
    color: rgb(94, 37, 0);
    text-align: center;
    padding: 5px;
    border-top: 2px solid rgb(94, 37, 0);
    border-bottom: 2px solid rgb(94, 37, 0);
}

h2{
    text-decoration: underline;
    color: rgb(121, 50, 2);
}

h2, h3, p{
    text-align: center;  
}

#descripcion{
    color: rgb(94, 37, 0);
}

#listaRazas, #personaje, #listaPersonajes, #pelicula{
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    background-color: #decac6;
    border-radius: 10px;
    max-width: 20%;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.6);
}

#nombre{
    font-size: 25px;
}

#nombre, #listaPeliculas, #caracteristicasRaza{
    background-color: #c9b2ad;
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(99, 37, 22, 0.15);
}


#listaRazas, #listaRaza, #listaPersonajes, #listaPeliculas {
	text-align: center;
}

ul, ol{
	display: inline-block; 
	text-align: left; 
}

#imagenPersonaje, #caracteristicasRaza, #caracteristicasPelicula{
    margin-bottom: 20px;
}

img{
    border-radius: 10px;
    max-width: 100%;
}

#imagenPelicula {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}